{% load i18n %}
<footer class="container mx-auto text-center py-10 border-t font-medium text-gray-500">
    <div class="flex flex-col">
        &copy; 2019 Cbnb, Inc. {% trans "All rights reserved"%}.
    </div>
    <div class="mt-10 flex">
        {% get_current_language as LANGUAGE_CODE %}
        <select id="js-lang" class="w-1/5 text-sm">
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{%endif%}>English</option>
            <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{%endif%}>Spanish</option>
        </select>
    </div>
</footer>